replicaCount: 1

image:
  repository: harbor.local/app/wallet-service
  tag: ""
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3003

securityContext:
  privileged: false
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 1000

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

env:
  DATABASE_URL: "postgresql://user:${POSTGRES_PASSWORD}@postgres:5432/sindhi_patta"
