# Flutter/Dart
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/

# IDE
.idea/
.vscode/
*.iml
*.swp

# OS
.DS_Store
Thumbs.db

# Android
**/android/.gradle/
**/android/captures/
**/android/.externalNativeBuild/
**/android/build/
**/android/local.properties

# iOS
**/ios/build/
**/ios/.symlinks/
**/ios/Flutter/.last_build_id
**/ios/Pods/
