replicaCount: 1

image:
  repository: harbor.local/app/web
  tag: ""
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

securityContext:
  privileged: false
  allowPrivilegeEscalation: false
  runAsNonRoot: true
  runAsUser: 1000

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

env:
  NEXT_PUBLIC_API_URL: "http://localhost:8080/api/v1"
  NEXT_PUBLIC_GAME_SERVICE_URL: "http://localhost:3002"
